* {
	box-sizing: border-box;
}

html, body {
	font-family: arial;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--tan1);
}

:root {
	--tan1: #FAF1E4;
	--green1: #CEDEBD;
	--green2: #9EB384;
	--green3: #435334;
}

.content-wrapper {
	height: 100%;
}

.header {
	background-color: var(--green1);
	padding: 1em;
	width: 100%;
	display: flex;
}

.header-title {
	width: 100%;
}

.header-title > h1 {
	margin: 0;
}

.nav-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.header-nav {
	
}

.header-nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	width: 100%;

}

.header-nav-list > li {
	padding-left: 1em;
	padding-right: 1em;
}


.header-nav-list > li > a {
	position: relative;
	color: var(--blue1);
	font-weight: 600;
	text-decoration: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


/*Nav Hover Effect*/
.header-nav-list > li > a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 3px;
  	background: #778DA9;
	transition: width 0.3s linear;
}

.header-nav-list > li > a:hover::before {
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	width: 100%;
}

.header-nav-list > li > a:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 3px;
  background: #778DA9;
	transition: width 0.3s linear;
}

.header-nav-list > li > a:hover::after {
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	width: 100%;
}




/*Generic Classes*/
.fw-bold {
	font-weight: bold;
}

.fs-3 {
	font-size: 2em;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

