* {
	box-sizing: border-box;
}

html, body {
	font-family: arial;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--black2);
}

:root {
	--black1: #0B0C10;
	--black2: #1F2833;
	--grey1: #C5C6C7;
	--blue1: #66FCF1;
	--blue2: #45A29E;
}

.content-wrapper {
	padding: 1em;
	height: 100%;
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
}

.header-nav {
	width: 100%;
	height: 100%;
	
}

.header-nav-list {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.header-nav-list > li {
	padding-left: 1em;
	padding-right: 1em;
}


.header-nav-list > li > a {
	position: relative;
	font-size: 1.5em;
	color: var(--blue1);
	font-weight: 600;
	text-decoration: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


/*Nav Hover Effect*/
.header-nav-list > li > a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 3px;
  	background: #778DA9;
	transition: width 0.3s linear;
}

.header-nav-list > li > a:hover::before {
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	width: 100%;
}

.header-nav-list > li > a:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 3px;
  	background: #778DA9;
	transition: width 0.3s linear;
}

.header-nav-list > li > a:hover::after {
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	width: 100%;
}

.menu-icon {
	display: inline;
	height: auto;
}

.menu-icon-line {
	width: 35px;
 	height: 5px;
  	background-color: var(--blue1);
 	margin: 6px 0;
 	transition: 0.4s;
}

/* Rotate first bar */
.change .bar-1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar-2 {opacity: 0;}

/* Rotate last bar */
.change .bar-3 {
  transform: translate(0, -11px) rotate(45deg);
}


/*Generic Classes*/
.fw-bold {
	font-weight: bold;
}

.fs-3 {
	font-size: 2em;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}